In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
N = 150

def generate(N):
    
    Ux = np.random.randn(N)
    Uy = np.random.randn(N)

    y = 0.2 + 0.2*Ux + Uy

    return Ux, y

In [16]:
x, y = generate(N)
data = pd.DataFrame(data=(x,y)).T
data.columns = ['x','y']
data.to_csv('bivariate_linear.csv', index=False)

In [17]:
data

            x         y
0    0.898303  1.069291
1    0.193167 -0.619073
2   -0.773449  0.319559
3    0.169188 -1.291174
4    0.195337  0.595908
..        ...       ...
145 -1.474479 -0.898383
146  1.331226  1.196944
147 -1.110192 -0.703655
148 -1.370472  0.943815
149  3.172182 -0.085848

[150 rows x 2 columns]